.container {
  background-color: rgb(0, 0, 0); /* Initial color */
  transition: background-color 10s ease-in-out; /* Transition effect details */

  display: flex;
  width: 100vw;   
  height: 100vh;
}
  


.container:hover {
  background-color: rgb(27, 24, 24); /* Final color on hover */
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centro vertical */
  align-items: center;     /* centro horizontal */
  gap: 20px;
  padding: 20px;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
}


/* From Uiverse.io by cssbuttons-io */ 
button {
  font-size: 17px;
  padding: 1em 2.7em;
  font-weight: 500;
  background: #1f2937;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
  cursor: pointer;
}

.gradient {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: rgba(16, 185, 129, 0.6);
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 14em;
  height: 14em;
}

button:active {
  transform: scale(0.97);
}

.form {
 --width-of-input: 200px;
 --border-height: 1px;
 --border-before-color: rgba(221, 221, 221, 0.39);
 --border-after-color: #5891ff;
 --input-hovered-color: #4985e01f;
 position: relative;
 left: 0;
 width: var(--width-of-input);
}

.input {
 color: #fff;
 font-size: 0.9rem;
 background-color: transparent;
 width: 100%;
 box-sizing: border-box;
 padding-inline: 0.5em;
 padding-block: 0.7em;
 border: none;
 border-bottom: var(--border-height) solid var(--border-before-color);
}

.input-border {
 position: absolute;
 background: var(--border-after-color);
 width: 0%;
 height: 2px;
 bottom: 0;
 left: 0;
 transition: 0.3s;
}

input:hover {
 background: var(--input-hovered-color);
}

input:focus ~ .input-border {
 width: 100%;
}

input:valid ~ .input-border{
  width: 100%;
} 