.container {
  background-color: rgb(0, 0, 0); /* Initial color */
  transition: background-color 10s ease-in-out; /* Transition effect details */

  display: flex;
  width: 100vw;   /* ancho completo */
  height: 100vh;  /* alto completo */
}
  


.container:hover {
  background-color: rgb(95, 95, 95); /* Final color on hover */
}

.col {
  flex: 1;
  padding: 20px;
}

.left {
  font-size: 2rem;
  font-display: auto;
  font-style: italic, oblique;
  font-family: 'Times New Roman', Times, serif;
}

.right {
  font-size: 1rem;
  font-display: auto;
  font-style: italic, oblique;
  font-family: 'Times New Roman', Times, serif;
}
